body {
  background-color: rgb(100, 15, 5);
}

p {
  font-family: "Consolas";
  color: rgb(255, 235, 235);
}

h1 {
  font-family: "Consolas";
  color: rgb(255, 235, 235);
  font-weight: bold;
}

.title {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

hr {
  color: rgb(255, 235, 235);
}
